//font
$font-size_base: 16px;
$font-size_xx1: $font-size_base * 3 ; //48px
$font-size_x1:  $font-size_base * 2;   //32px
$font-size_1 :  $font-size_base * 1.5;  //24px
$font-size_m :  $font-size_base ;       //16px
$font-size_s :  $font-size_base * 0.875;  //14px
$font-size_xs:  $font-size_base * 0.75;//12px
$font-size_xxs: $font-size_base * 0.625;//10px

