//max-width:767px
@mixin pad{
    @media(max-width:768px){
        @content
    }
};
//max-width:540px
@mixin iphone{
    @media(max-width:576px){
        @content
    }
};
//max-width:375px
@mixin mobile{
    @media(max-width:375px){
        @content
    }
};
@mixin text_hide{
    background-repeat:no-repeat;
    text-indent:101%;
    white-space:nowrap;
    overflow:hidden;
    display:block;
}