//footer
.footer_list{
    justify-content:start;
    @media(max-width:992px){
        justify-content:flex-end;
    }
    @include pad{
        justify-content: center;
    }
}
.footer_copyright{
    text-align: left;
    @include pad{
        text-align:center;
    }
}