.logo{
    background-image:url("../images/week8/logo-aloha.svg");
    width: 96px;
    height: 24px;
    @include text_hide;
}
.banner_img{    
    height: 320px;
    object-fit: cover;
}
.carousel-caption{ 
    top:30%;
    bottom: 0px;
    h2{
        @include iphone{
            font-size:32px;
        }
    }
}
.line_separator{
    position: relative;
    &::after{
     position: absolute;
     content: "";
     top: 0;
     bottom:0;
     right:30%;
     height: 40px;
     border-left: 1px solid #f1f0f8;;
    }
 }
.line_separator-moblie{
      border-right: 1px solid white;
      @media(max-width: 374px){
          border:0px;
      }
}