.navbar_item-member{
    width: 24px;
    height: 24px;
    border: 2px solid #6C51E2;
}
.member_icon{
    width: 64px;
    height: 64px;
}
.booking_room_img{
    height: 175px;
    @include pad{
        height: 226px;
    }
}