<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <!-- Open+Sans font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400;1,800&display=swap" rel="stylesheet"> 
  <!-- Raleway font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <!-- bs4 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <!-- material -->
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- material -->
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
 
  <!-- 自用 -->
  <link rel="stylesheet" href="./assets/style/all.css">
  
</head>
 
<body>
    <!-- header -->
    <header class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-light px-0">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <!-- logo -->
                        <h1 class="mb-0">
                            <a class="navbar-brand logo" href="index.html">logo</a>
                        </h1>
                        <!-- 768以下 icon-->
                        <div class="d-md-none">
                            <a href="#">
                                <img src="assets/images/week8/profile.jpg" alt="icon" class=
                                "navbar_item-member img_cover rounded-circle">
                            </a>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                            <ul class="navbar-nav align-items-md-center ml-md-auto">
                                <!-- dropdown -->
                                <li class="nav-item mr-6">
                                <div class="dropdown">
                                    <a class="material-icons dropdown-toggle text-dark d-flex align-items-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    language
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">中文</a>
                                    <a class="dropdown-item" href="#">English</a>
                                    <a class="dropdown-item" href="#">日本語</a>
                                    </div>
                                </div>
                                
                                </li>
                                <!-- 會員icon -->
                                <li class="d-none d-md-block nav-item ">
                                        <div class="dropdown">
                                            <img src="assets/images/week8/profile.jpg" alt="icon" class=
                                            "navbar_item-member img_cover rounded-circle">
                                            <a class="btn  dropdown-toggle text_l" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                David Lin
                                            </a>
                                        <div class="dropdown-menu dropdown-menu-right " aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="#">會員資料</a>
                                            <a class="dropdown-item" href="#">修改會員資料</a>
                                            <a class="dropdown-item" href="#">過去訂房紀錄</a>
                                        
                                        </div>
                                        </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>


    <%- contents %>

    <!-- footer -->
   <footer class="border-top border_md_0">
        <div class="container py-3">
            <hr class="d-none d-lg-block mb-4">
            <div class="row  flex-lg-row flex-sm-row-reverse
            justify-content-md-between justify-content-lg-center align-items-center">
                <ul class="footer_list list-unstyled col-md-5 col-lg-4 d-flex mb-0">
                <li class="text_s text-dark-50 mr-4"><a href="#">FAQs</a></li>
                <li class="text_s text-dark-50 mr-4"><a href="#">Terms of use</a></li>
                <li class="text_s text-dark-50 "><a href="#">Privacy policy</a></li>
                </ul>
                <div class="footer_copyright col-md-5 col-lg-4 text_s text-dark-50 mb-0">
                © 2020 ALOHA, Inc. All rights reserved.
                </div>
                <div class="d-none  col-4 d-lg-flex justify-content-end">
                    <!-- language -->
                    <div class="dropdown">
                        <button class="btn dropdown-toggle d-flex align-items-center text_s" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="material-icons mr-2">language</span>
                            English
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">中文</a>
                        <a class="dropdown-item" href="#">English</a>
                        <a class="dropdown-item" href="#">日本語</a>
                        </div>
                    </div>  
                    <!-- money -->
                    <div class="dropdown">
                        <button class="btn dropdown-toggle d-flex align-items-center text_s" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="material-icons mr-2">attach_money</span>
                            TWD
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">TWD</a>
                        <a class="dropdown-item" href="#">USD</a>
                        <a class="dropdown-item" href="#">JPN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </footer>  
 
  
 
  
 
  <!-- bs4 js -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" 
  integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
  <!-- ------ -->
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
 
</body>

</html>
